:root{
    --background-color : #1F1F1F;
    --color-1: #141414;
    --color-2: #333333;
}

*{
    margin: 0;
    font-weight: 700;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: none;
    word-break: break-all;
    transition: all 0.2s ease;
    user-select: none; /* Standard */
}

body{
    background-color: var(--background-color);
}


.SideBar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--color-1); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px;
  }

.Menu{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    align-items: flex-start;
}
  
.Link-Menu {
    display: flex;
    justify-content: center;
    color: #818181;
}

.Link-Menu *{
    padding: 15px 10px 8px 0px;
    text-decoration: none;
    font-size: 21px;
    color: #818181;
    display: block;
    text-align: left;
}

.Link-Menu *:hover{
    color: #FFFFFF;
    text-shadow: 0 0 2px #FFFFFF;
  }

.Main-Wrapper{
    height: 100%;
    width: calc(100% - 160px);
    margin-left: 160px;
    padding: 60px 10px 10px 40px;

}

.Mini-messages{
    color: white;
    text-shadow: 0 0 3px #fff;
}


.Music-element-wrapper{
    display: flex;
    flex-direction: column;
    background-position: 70%;
    background-size: cover;
    opacity: 0.8;
    width: 250px;
    border-radius: 22px;
    background-color: var(--color-2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height : 250px;
    box-shadow: 0px 0px 25px 0px black;
}

.Music-element-wrapper:hover{
    opacity: 0.5;
}


.Music-element-circular-inner-wrapper{
    position: absolute;
    height: 125px;
    width: 125px;
    background-color: var(--color-1);
    opacity: 0.75;
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Music-element-circular-inner-wrapper:hover{
    opacity: 1;

}

.Main-music-wrapper{
    background-color: #191919;
    border-radius: 15px;
    height: 350px;
    margin: 50px 10px 10px 10px;
    padding: 20px 20px 0px 20px;
    box-shadow: 0px 0px 7px 0px black;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Music-note{
    height: 60%;
    width: 60%;
    color: rgba(255,255,255,1);
    opacity: 1;
}

.GridFlexBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-align: center;
    margin-bottom : 120px;
}



.Cursor{
    transition: none;
    z-index: 999;
    position: fixed;
    background: #2696E8;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    opacity: 0.75;
    border-radius: 50%;
    box-shadow: 0 0 60px #2696E8,
                0 0 100px #2696E8,
                0 0 160px #2696E8;
    animation: colors 10s infinite;

}
  
@keyframes colors{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.Music-Title{
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0px 0px 1px white;
    font-size: 21px;
    font-weight: 500;
}

.Music-Author {
    margin-top: 5px;
    color: rgba(155, 155, 155, 0.75);
    font-size: 16px;
    font-weight: 500;
    text-shadow: 0px 0px 1px white;
}

.Card-Manager{
    width: calc(100% - 160px);
    margin-left:160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    overflow: hidden;
}

.Up-message{
    color: white;
    text-shadow: 0 0 3px #fff;
}

.card-button-wrapper{
    height: 75px;
    width: 75px;
    border-radius: 90px;
    background-color: var(--color-1);
    /* Normal black box shadow */
    box-shadow: 2px 2px 30px black;
    margin: 20px;
    border: none;
    
}


.card-button-wrapper:hover{
    box-shadow: 2px 2px 10px black;
    /* Make the button move slightly right down */
    -webkit-transform: translate(3px,3px);
    transform: translate(3px,3px);
    transition: all 0.4s ease-in-out;
}


.card-button-wrapper:active{
    box-shadow: 0px 0px 2px black;
    transition: all 0.05s ease-in-out;
    transform: 	translate(5px,5px);

}

.card-button-icon{
    font-size: 30px;
    vertical-align: middle;
}

.swipe {
    position: absolute;
}

.cardContainer{
    height: 575px;
    width: 400px;
}

.card-system-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Get rid of the scroll bar*/
::-webkit-scrollbar {
    display: none;
  }