.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-color: #1F1F1F;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 90%;
  border-radius: 25px;
  padding: 40px;
  background-color: var(--color-1);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.image {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.image .profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.data h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #141414;
}

.data span {
  color: #FFFFFF;
  opacity: .5;
  font-weight: lighter;
}

.data p {
  font-size: 18px;
  color: #FFFFFF;
  opacity: .5;
  font-weight: lighter;
}

.info-row {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.info {
  text-align: center;
  padding: 0 15px;
}

.info h3 {
  font-size: 18px;
  font-weight: 600;
  color: #141414;
}

.info span {
  color: #FFFFFF;
  opacity: .5;
  font-weight: lighter;
}

.additional-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.additional-info .info {
  flex: 0 0 50%;
  margin-bottom: 10px;
}

.additional-info .info h3 {
  font-size: 18px;
  font-weight: 600;
  color: #141414;
}

.additional-info .info a {
  color: #FFFFFF;
  opacity: .5;
  font-weight: lighter;
  text-decoration: none;
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.buttons .btn {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 18px;
  white-space: nowrap;
  background: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
  transition: box-shadow 0.3s ease;
}

.buttons .btn:hover {
  box-shadow: inset 0 5px 20px rgba(0, 0, 0, 0.4);
}

/* Media Queries */
@media (max-width: 600px) {
  .profile-card {
    padding: 30px;
  }

  .image {
    height: 150px;
    width: 150px;
  }

  .data h2 {
    font-size: 24px;
  }

  .data p {
    font-size: 16px;
  }
}
